:root {
  --color-white-1:#fff;
  --color-white-2:#f0f0f0;

  --color-gray-1:#D9D9D9;
  --color-gray-2:#ccc;
  --color-real-gray:gray;

  --color-black-1:#1C1C1C;
  --color-black-2:#000;

  --color-bage-1:#FFF8F1;
  --color-bage-2:#FAE1C8;
  --color-bage-3:#EEB392;

  --color-orbrown-1:#D79977;
  --color-orbrown-2:#DC7135;
}