/* windie-mobile-page */
#windie-mobile-page {
  width: 100vw;
  height: 200vh;
  display: none;
  opacity: 0;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#windie-mobile-page-1, #windie-mobile-page-2 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: var(--color-white-2);
}

.app-top {
  width: 65px;
  height: 55px;
  background-color: var(--color-white-1);
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 1.5%;
  bottom:2%;

  z-index: 1;
}

.app-top-arrow {
  width: 35px;
  height: 35px;
  background-image: url('/img/new-arrow.png');
  background-size: cover;
  transform: rotate(90deg);
}

.app-top, .app-top-arrow:hover {
  cursor: pointer;
  opacity: .7;
}








/* 작동하는 윈디 모바일 화면 */
#windie-mobile-vertical, #windie-mobile-horizontal {
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}

#windie-mobile-vertical {
  width: 342px;
  height: 740px;
}

#windie-mobile-horizontal {
  width: 740px;
  height: 342px;
}