/* bubbleroom-process-page */
#bubbleroom-process-page {
  width: 100vw;
  height: 500vh;
  display: none;
  opacity : 0;
  flex-direction: column;
  position: relative;
}

#bubbleroom-process-page > #process-page-1 > header > .introduce {
  width: 17%;
}

/* .bubbleroom-process-img-1 {
  background-image: url("/img/기획 과정 페이지 소스/윈디-기획-소스-1.png");
}
.bubbleroom-process-img-2 {
  background-image: url("/img/기획 과정 페이지 소스/윈디-기획-소스-2.png");
}
.bubbleroom-process-img-3 {
  background-image: url("/img/기획 과정 페이지 소스/윈디-기획-소스-3.png");
}
.bubbleroom-process-img-4 {
  background-image: url("/img/기획 과정 페이지 소스/윈디-기획-소스-4.png");
}
.bubbleroom-process-img-5 {
  background-image: url("/img/기획 과정 페이지 소스/윈디-기획-소스-5.png");
} */

/* .bubbleroom-process-img-5 > section {
  background-image: url("/img/목업/목업-윈디-버블룸-1.png");
} */

