/* windie-process-page */
#windie-process-page {
  width: 100vw;
  height: 500vh;
  display: none;
  opacity : 0;
  flex-direction: column;
  position: relative;
}

#windie-process-page-1 > header > .introduce {
  width: 17%;
}

.top-arrow:hover {
  cursor: pointer;
  opacity: .7;
}

.top-sticker {
  width: 85px;
  height: 75px;
  border-radius: 10px;
  background-color: var(--color-white-1);
  
  position: absolute;
  right:2.5%;
  bottom:.5%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.top-arrow {
  width: 42px;
  height: 42px;
  background-image: url('/img/new-arrow.png');
  background-size: cover;
  transform: rotate(90deg);
}

#windie-process-page-1,#windie-process-page-2,#windie-process-page-3,#windie-process-page-4,#windie-process-page-5 {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bage-1);
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#process-board {
  width: 95%;
  height: 80%;
  border-radius: 20px;
  background-color: var(--color-white-1);

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 2.5%;
}

.windie-process-img-1, .windie-process-img-2, .windie-process-img-3, .windie-process-img-4, .windie-process-img-5 {
  width: 45%;
  height: 80%;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}

/* .windie-process-img-1 {
  background-image: url("/img/기획 과정 페이지 소스/윈디-기획-소스-1.png");
}
.windie-process-img-2 {
  background-image: url("/img/기획 과정 페이지 소스/윈디-기획-소스-2.png");
}
.windie-process-img-3 {
  background-image: url("/img/기획 과정 페이지 소스/윈디-기획-소스-3.png");
}
.windie-process-img-4 {
  background-image: url("/img/기획 과정 페이지 소스/윈디-기획-소스-4.png");
}
.windie-process-img-5 {
  background-image: url("/img/기획 과정 페이지 소스/윈디-기획-소스-5.png");
} */

.windie-process-img-5 > section {
  background-image: url("/img/목업/목업-윈디-폰-1.png");
}

.windie-process-info-1, .windie-process-info-2, .windie-process-info-3, .windie-process-info-4, .windie-process-info-5 {
  width: 45%;
  height: 80%;
  margin-left: 2%;
}

.windie-process-info-1 > p, .windie-process-info-2 > p, .windie-process-info-3 > p, .windie-process-info-4 > p, .windie-process-info-5 > p {
  margin-top: 5%;
  color: var(--color-orbrown-1);
  font-size: 18px;
}

.windie-why, .windie-how, .windie-design, .windie-figma, .windie-mockup {
  width: fit-content;
  height: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-orbrown-2);
  font-size: 40px;
  font-family: 'Gochi Hand', cursive;
  font-weight: normal;
}

