/* work-page-bubbleroom */
#work-page-bubbleroom {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bage-1);
  
  display: none;
  align-items: flex-start;
  justify-content: center;
  opacity : 0;

  position: relative;
}

#work-page-bubbleroom > header > .introduce {
  width: 20%;
  height: 50%;
  background-color: #fff;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.b-sticker-1, .b-sticker-2 {
  background-size: cover;
  position: absolute;
}

.b-sticker-1 {
  width: 140px;
  height: 60px;
  background-image: url("/img/스티커/버블룸-스티커-타원형-2.png");

  left: -12%;
  bottom : 15%;
  transform: rotate(2deg);

  z-index: 1;
}

.b-sticker-2 {
  width: 90px;
  height: 90px;
  background-image: url("/img/스티커/버블룸-스티커-원형.png");

  right: 7%;
  bottom: 20%;
  transform: rotate(-2deg);
}

.contact-stamp-2 {
  width: 150px;
  height: 150px;
  background-image: url('/img/스티커/contact-stamp.png');
  background-size: cover;
  position: absolute;

  right: 5%;
  bottom: 13%;
  transform: rotate(-20deg);

  display: none;
}

.bubbleroom-display-1,.bubbleroom-display-2,.bubbleroom-display-3,.bubbleroom-display-4,.bubbleroom-display-5, .bubbleroom-display-6, .bubbleroom-display-7, .bubbleroom-display-8{
    width: 80%;
    background-position: center;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}

.bubbleroom-display-1 {
  background-image: url("/img/목업/목업-버블룸-메인.png");
}

.bubbleroom-display-2 {
  background-image: url("/img/목업/목업-PC-버블룸-1.png");
}

.bubbleroom-display-3 {
  background-image: url("/img/목업/목업-버블룸-폰-1.png");
}

.bubbleroom-display-4 {
  background-image: url("/img/목업/목업-버블룸-폰-2.png");
}

.bubbleroom-display-5 {
  background-image: url("/img/목업/목업-버블룸-폰-가로형-1.png");
}

.bubbleroom-display-6 {
  background-image: url("/img/목업/목업-버블룸-폰-가로형-2.png");
}

.bubbleroom-display-7 {
  background-image: url("/img/목업/목업-태블릿-버블룸-1.png");
}

.bubbleroom-display-8 {
  background-image: url("/img/목업/목업-태블릿-버블룸-2.png");
}