/* bubbleroom-mobile-page */
#bubbleroom-mobile-page {
  width: 100vw;
  height: 200vh;
  display: none;
  opacity: 0;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  #bubbleroom-mobile-page-1, #bubbleroom-mobile-page-2 {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    background-color: #F2F1F6;
  }
}









/* 작동하는 버블룸 모바일 화면 */
#bubbleroom-mobile-vertical, #bubbleroom-mobile-horizontal {
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}

#bubbleroom-mobile-vertical {
  width: 342px;
  height: 740px;
}

#bubbleroom-mobile-horizontal {
  width: 740px;
  height: 342px;
}
