/* start page1 */
#start-1 {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-gray-1);

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

#start-1 > .portfolio-text >.my-photo-hide {
  width: 230px;
  height: 280px;
  background-image: url('/img/김주은-물음표.png');
  background-size: cover;
  margin-left: 2%;
}

#start-1 > .portfolio-text >.my-photo-hide:hover {
  cursor: pointer;
}

#start-1 > .portfolio-text {
width: 100%;
height: 40%;
display: flex;
align-items: center;
justify-content: center;
}

#start-1 > .portfolio-text > h1 {
font-size: 250px;
font-weight: normal;
color: var(--color-black-1);
}

#start-1 > .arrow-gray, #start-1 > h1 {
display: none;
}

#start-1 > .arrow-gray {
width: 27px;
height: 50px;
background-image: url('/img/펜/arrow-gray.png');
background-size: cover;
position: absolute;

bottom: 30%;
right: 18%;
}

#start-1 > h1 {
font-size: 25px;
font-weight: lighter;
color: var(--color-real-gray);
position:absolute;

bottom: 25%;
right: 18%;
transform: rotate(-10deg);
}
/* start page1 */