/* main page 1 */
#main-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bage-1);
  
  display: none;
  align-items: flex-start;
  justify-content: center;
  opacity : 0;

  position: relative;
}

#main-page > header {
  width: 95%;
  height: 15%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back {
  width: 4.5%;
  height: 50%;
  background-color: #fff;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* 백버튼 빼기 */

.back > .new-arrow {
  width: 50px;
  height: 50px;
  background-image: url("/img/new-arrow.png");
  background-size: cover;
}

.introduce {
  width: 15%;
  height: 50%;
  background-color: #fff;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.introduce > h1 {
  color: var(--color-orbrown-2);
  font-size: 47px;
  font-weight: normal;
}

#board {
  width: 95%;
  height: 80%;
  border-radius: 20px;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  bottom:5%;
}

#work-box {
  width: 95%;
  height: 60%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

#text-box-1 {
  width: 95%;
  height: 5%;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#text-box-1 > h1 {
  color: var(--color-orbrown-2);
  font-size: 40px;
  font-weight: normal;
}

#text-box-2 {
  width: 95%;
  height: 5%;
  
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-right: 1%;
}

#text-box-2 > h1 {
  color: var(--color-orbrown-1);
  font-weight: lighter;
  font-size: 25px;
}

.my-photo-mini {
  width: 140px;
  height: 160px;
  background-image: url('/img/김주은-누끼.png');
  background-size: cover;
  position: relative;

  bottom:-15%;
  right: 3%;
  transform: rotateY(180deg);
}

.my-photo-mini > section:nth-child(1) {
  width: 85px;
  height: 35px;
  background-image: url('/img/sunglasses.png');
  background-size: cover;
  position: absolute;

  right: 25%;
  top:22%;
  transform:rotate(30deg);
}

.my-photo-mini > section:nth-child(2) {
  width: 33.5px;
  height: 50px;
  background-image: url('/img/blingbling.png');
  background-size: cover;
  position: absolute;

  left: 30%;
  top: 3%;
}

.windie, .bubbleroom, .toyproject {
  width: 385px;
  height: 380px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;

  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.windie {
  background-image: url("/img/윈디.png");
}
.bubbleroom {
  background-image: url("/img/버블룸.png");
}
.toyproject {
  background-image: url("/img/만두.png");
}

.back, .windie, .bubbleroom, .toyproject:hover {
  cursor: pointer;
}

.back > .new-arrow:hover {
  opacity: .5;
}

#main-page > #board > .click-1, #main-page > #board >.click-2, #main-page > #board >.click-3, #main-page > #board >.arrow-1, #main-page > #board >.arrow-2, #main-page > #board >.arrow-3 {
  display: none;
}

#main-page > #board >.click-1, #main-page > #board >.click-2, #main-page > #board >.click-3 {
  font-size: 25px;
  font-weight: lighter;
  color: var(--color-brorange-2);
  position: absolute;
}

#main-page > #board >.click-1 {
  bottom:14%;
  left: 22%;
}

#main-page > #board >.click-2 {
  top:25%;
  right: 47%;
}

#main-page > #board >.click-3 {
  bottom:13%;
  right: 16.5%;
  transform: rotate(-10deg);
}

#main-page > #board >.arrow-1, #main-page > #board >.arrow-2, #main-page > #board >.arrow-3 {
  background-size: cover;
  position: absolute;
}

#main-page > #board >.arrow-1 {
  width: 30px;
  height: 50px;
  bottom:15%;
  left: 25%;
  background-image: url('/img/arrow-1.png');
  transform: rotate(60deg);
}

#main-page > #board >.arrow-2 {
  width: 50px;
  height: 50px;
  top:25%;
  right: 50%;
  background-image: url('/img/arrow-2.png');
  transform: rotate(-70deg);
}

#main-page > #board >.arrow-3 {
  width: 25px;
  height: 50px;
  bottom:13%;
  right: 20%;
  background-image: url('/img/arrow-3.png');
  transform: rotate(-70deg);
}