/* bubbleroom-pc-page */
#bubbleroom-pc-page {
  width: 100vw;
  height: 100vh;
  display: none;
  opacity : 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  background-color: #fff;
}

#bubbleroom-pc-page > .back {
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);

  width: 60px;
  height: 50px;

  position: absolute;
  left: 1.5%;
  top:2%;
}

#bubbleroom-pc-page > .back > .arrow {
  width: 30px;
  height: 30px;
}