/* bubbleroom-pc-page */
#bubbleroom-pc-page {
  width: 100vw;
  height: 100vh;
  display: none;
  opacity : 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  // background-color: #fff;
  background-size: cover;
  background-position: center;
  background-image: url("/img/임시이미지/버블룸-임시이미지-PC.png");
}

#bubbleroom-pc-page:hover {
  cursor: pointer;
}

.app-back {
  width: 65px;
  height: 55px;
  background-color: var(--color-white-1);
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 1.5%;
  top:2%;
}

.app-arrow {
  width: 35px;
  height: 35px;
  background-image: url('/img/new-arrow.png');
  background-size: cover;
}

.app-back, .app-arrow:hover {
  cursor: pointer;
  opacity: .7;
}