/* windie-mobile-page */
#windie-mobile-page {
  width: 100vw;
  height: 200vh;
  display: none;
  opacity: 0;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#windie-mobile-page-1, #windie-mobile-page-2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #f0f0f0;
}

#windie-mobile-page > .back, #windie-mobile-page > .top-sticker {
  position: absolute;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  z-index: 1;
}

#windie-mobile-page > .back {
  width: 60px;
  height: 50px;

  left: 1.5%;
  top:2%;
}

#windie-mobile-page > .top-sticker {
  width: 60px;
  height: 50px;

  right: 1.5%;
  bottom:2%;
}

#windie-mobile-page > .back > .arrow, #windie-mobile-page > .top-sticker > .top-arrow {
  width: 30px;
  height: 30px;
}








/* 작동하는 윈디 모바일 화면 */
#windie-mobile-vertical, #windie-mobile-horizontal {
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}

#windie-mobile-vertical {
  width: 342px;
  height: 740px;
}

#windie-mobile-horizontal {
  width: 740px;
  height: 342px;
}