/* bubbleroom-tablet-page */
#bubbleroom-tablet-page {
  width: 100vw;
  height: 100vh;
  display: none;
  opacity : 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: #F2F1F6;
  
  /* 작동하는 버블룸 태블릿 화면 */
  #bubbleroom-tablet {
    width: 600px;
    height: 800px;
    border-radius: 30px;
    // background-color: #fff;

    background-size: cover;
    background-position: center;
    background-image: url("../img/임시이미지/버블룸-임시이미지-태블릿.png");
  }

  #bubbleroom-tablet:hover{
    cursor: pointer;
  }
}

